/* Error: expected "{".
 *    ,
 * 26 | >>>>>>> 56abe916d09153ffeb82cdc0110e8b7209e191e3
 *    |                                                 ^
 *    '
 *   assets\sass\base\_reset.scss 26:49  @import
 *   assets\sass\style.scss 1:9          root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 26 \2502  >>>>>>> 56abe916d09153ffeb82cdc0110e8b7209e191e3\d\a    \2502                                                  ^\a    \2575 \a   assets\\sass\\base\\_reset.scss 26:49  @import\a   assets\\sass\\style.scss 1:9          root stylesheet';
}
