/*************************************************   1   PARTIE**************************************/


.footer__content__text{
font-family: "Proxima Nova", sans-serif;
font-size: 16px;
color: rgb(19, 18, 18);
padding-top: 120px;
padding-left: 80px;
text-decoration: none;
font-weight: 700;
}
/*************************************************   DIV 1   **************************************/
.div1 {
font-family: "Proxima Nova", sans-serif;
font-size: 16px;
//background-color: red;
margin-right: auto;
color: black;
width: 33%;
}

.footer__title {
    font-family: "Proxima Nova", sans-serif;
    color: rgb(19, 18, 18);
    margin: 0 0 15px;
    padding-top: 80px;
    padding-left: 80px;
    font-size: xx-large;
}

.footer__container {
    background-color: white;
    width: 100%;
    display: flex;
    color: black;
    margin-top: 100px;
}

.google__map {
font-family: "Proxima Nova", sans-serif;
font-size: 16px;
color: rgb(19, 18, 18);
padding-top: 120px;
padding-left: 80px;
text-decoration: none;
font-weight: 700;
}

 /*************************************************   DIV 2   **************************************/

.div2 {
background-color: blue;
font-family: "Proxima Nova", sans-serif;
color: black;
font-weight: 400;
font-size: 16px;
line-height: 2;
letter-spacing: 0.3px;
word-spacing: 0.5px;
margin-right: auto;
margin-top: auto;
width: 30%;
height: 120px;
}

// .footer__container__icon__adress{
//  display: flex;
//  flex-direction: row;
// }

.footer__container__icon__adress{
  display: flex;
  flex-direction: row;
}

.footer_img_adress{
    width: 18px;
    position: absolute;
    left: 0;
    top: 0;
}

.footer__adress {
    font-family: "Proxima Nova", sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
    padding-left: 3%;
}

.footer__mail {
font-family: "Proxima Nova", sans-serif;
font-size: 16px;
text-decoration: none;
}

.footer__info {
    font-family: "Proxima Nova", sans-serif;
font-size: 16px;
    text-decoration: none;
    color: black;
        padding-left: 3%;
}

.footer__phone {
  text-decoration: none;
  
  .footer__tel {
    color: black;
        padding-left: 3%;

  }
}
/*************************************************   DIV 3   **************************************/
.div3 {
  //background-color: chartreuse;
  font-family: "Proxima Nova", sans-serif;
  font-size: 16px;
  width: 30%;
  margin-top: 50px;
  line-height: 2;
  letter-spacing: 0.3px;
  word-spacing: 0.5px;
}

.footer__icons {
//background-color: aqua;
color: black;
display: flex;
justify-content: flex-end;
margin-right: 100px;
//transition-duration: 0.4s;
//cursor: pointer;
}

.footer__facebook {
  width: 53px;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  border: 2px solid #d9d9d9;
}

.footer__facebook {
  background-color: rgb(248, 242, 242);
  color: black;
  transition-duration: 0.1s;
cursor: pointer;
}

.footer__facebook:hover {
  background-color: #131010;
  color: white;
}

.footer__img__facebook {
  width: 12px;
  margin-top: 5px;
}

.footer__insta {
  width: 53px;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  border: 2px solid #d9d9d9;
  margin-left: 20px;
}

.footer__insta{
    background-color: white;
    color: black;
    transition-duration: 0.1s;
    cursor: pointer;
}

.footer__insta:hover {
    background-color: #131010;
    color: white;
}

.footer__facebook{
    background-color: white;
    color: black;
    transition-duration: 0.1s;
    cursor: pointer;
}

.footer__facebook:hover {
    background-color: #131010;
    color: white;
}

.footer__copy__confid {
    color: black;
    display: flex;
    justify-content: flex-end;
  margin-right: 100px;
  //cursor: pointer;
}

.footer__copy {
  color: black;
  padding: 15px 5px;
  position: relative;
  cursor: pointer;
  //   display: flex;
  //   justify-content: flex-end;
  //   margin-right: 100px;
}

.footer__confid {
  color: black;
  padding: 15px 5px;
  position: relative;
  cursor: pointer;
  //   display: flex;
  //   justify-content: flex-end;
  //   margin-right: 100px;
}

.footer__tva {
  font-size: x-small;
  font-weight: 600;
  padding-left: 5%;
  padding-bottom: 5%;
  margin-right: 100px;
  display: flex;
  justify-content: flex-end;
  margin-right: 100px;
}
