.firstpart {
  background-color: rgb(0, 0, 0);
  position: relative;
  h1 {
    color: white;
    font-weight: 300;
    font-size: 40px;
    padding-top: 200px;
    padding-bottom: 550px;
    padding-left: 75px;
  }
  .firstpart__image {
    width: 70%;
    margin-left: 75px;
    position: absolute;
    top: 440px;
  }
}

.secondpart {
  display: flex;
  margin-top: 500px;
  margin-left: 75px;
  .secondpart__content--left {
    display: flex;
    flex-direction: column;
    padding-right: 95px;
    .secondpart__titre {
      font-size: 40px;
      font-weight: 700;
      margin-bottom: 35px;
      width: 250px;
    }
    .secondpart__sous-titre {
      font-family: "Proxima Nova", sans-serif;
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 70px;
    }
    .secondpart__text {
      font-size: 16px;
      font-weight: 300;
      line-height: 2;
      letter-spacing: 2px;
      margin-bottom: 50px;
      width: 375px;
    }
  }
  .secondpart__content--right {
    background-color: black;
    color: white;
    height: 100%;
    padding: 175px 10px 150px 250px;
    width: 120%;
    height: 100%;

    .secondpart__span {
      font-weight: 500;
      margin-bottom: 35px;
      letter-spacing: 1.2px;
      margin-left: -130px;
    }
    ul {
      margin-top: 35px;
      line-height: 2.5;
      margin-left: -120px;
      li {
        list-style-type: disc;
        color: #fff;
        font-weight: 300;
        width: 100%;
        letter-spacing: 1.2px;
        padding: 0 0 0 60px;
      }
    }
  }
}

.lastpart {
  display: flex;
  max-width: 1500px;
  padding: 0 70px;
  margin: 0 auto;
  height: 100%;
  position: relative;
  margin-bottom: 120px;
  .lastpart__image {
    width: 46.8%;
    height: 70%;
  }
  .lastpart__content--right {
    display: flex;
    padding: 120px 120px 10px 120px;
    flex-direction: column;
    .lastpart__titre {
      font-size: 40px;
      font-weight: 700;
      margin-bottom: 30px;
    }
    .lastpart__sous-titre {
      margin-bottom: 55px;
    }
    .lastpart__texte {
      line-height: 2;
      letter-spacing: 1.2px;
      font-weight: 300;
      margin-bottom: 20px;
    }
  }
}
