.banniere__img {
  background-color: red;
  display: flex;
  .banniere__img--g {
    width: 53%;
    position: relative;
  }
  .banniere__img--d {
    width: 53%;
  }
}
.banniere__titre--g {
  font-size: 25px;
  font-weight: 300;
  text-align: left;
  background-color: white;
  padding: 70px;
  width: 350px;
  height: 20px;
  position: absolute;
  z-index: 1;
  left: 50px;
  top: 640px;
}
.banniere__titre--d {
  font-size: 25px;
  font-weight: 300;
  text-align: left;
  color:white;
  background-color: rgb(0, 0, 0);
  padding: 70px;
  width: 350px;
  height: 20px;
  position: absolute;
  z-index: 1;
  right: 50px;
  top: 640px;
}
